apiVersion: v1
kind: ConfigMap
metadata:
  name: postgres-init-script
  namespace: cloudscribe
data:
  init_keycloak_db.sh: |
    #!/bin/bash
    set -e
    psql -v ON_ERROR_STOP=1 --username "$POSTGRES_USER" --dbname "$POSTGRES_DB" <<-EOSQL
        SELECT 'CREATE DATABASE keycloak' WHERE NOT EXISTS (SELECT FROM pg_database WHERE datname = 'keycloak')\gexec
        GRANT ALL PRIVILEGES ON DATABASE keycloak TO postgres;
    EOSQL

---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: postgres-pvc
  namespace: cloudscribe
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi

---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: postgres
  namespace: cloudscribe
spec:
  selector:
    matchLabels:
      app: postgres
  template:
    metadata:
      labels:
        app: postgres
    spec:
      containers:
        - name: postgres
          image: postgres:16-alpine
          ports:
            - containerPort: 5432
          env:
            - name: POSTGRES_USER
              value: postgres
            - name: POSTGRES_DB
              value: cloudscribe
            - name: POSTGRES_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: cloudscribe-secrets
                  key: postgres-password
          volumeMounts:
            - name: postgres-storage
              mountPath: /var/lib/postgresql/data
            - name: postgres-init
              mountPath: /docker-entrypoint-initdb.d/init_keycloak_db.sh
              subPath: init_keycloak_db.sh
      volumes:
        - name: postgres-storage
          persistentVolumeClaim:
            claimName: postgres-pvc
        - name: postgres-init
          configMap:
            name: postgres-init-script
            defaultMode: 0777

---
apiVersion: v1
kind: Service
metadata:
  name: postgres-service
  namespace: cloudscribe
spec:
  ports:
    - port: 5432
  selector:
    app: postgres
  clusterIP: None