postgres-password=
postgres-connection-string=
keycloak-admin-user=
keycloak-admin-pass=
oidc-client-secret=
KEYCLOAK_PUBLIC_URL=
KEYCLOAK_HOSTNAME=
BLAZOR_PUBLIC_URL=
API_PUBLIC_URL=
LETSENCRYPT_EMAIL=